<body>
    <div class="container">
        <h2>Select an Option</h2>
        <div class="options">
            <a class="option-button" routerLink="/paymentportal">Pay Now</a>
            <a class="option-button" routerLink="/paymentinstallment">Pay by Installment</a>
            <button class="option-button" routerLink="/paymentissues">Payment Issues</button>
            <!-- <button class="option-button" onclick="toggleIssueOptions()">Payment Issues</button> -->
            <!-- <div class="additional-options issue-option">
                <select id="issue-type" class="text-input">
                    <option value="money-not-paid">Money Sent But Not Paid</option>
                    <option value="network-issue">Network Issue</option>
                    <option value="other">Other</option>
                </select>
                <textarea id="other-issue" class="text-input issue-option" placeholder="Enter other issue"></textarea>
                <button class="raise-ticket-button" onclick="raiseTicket()">Raise Ticket</button>
            </div> -->
        </div>
    </div>
    </body>
